body {
  background-color: #f8f5f1;
}

header {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    url("../src/images/bg-white.jpg");
  filter: sepia(13%);
  background-size: cover;
  background-position: center;
  background-position: center 75%;
  padding: 160px 30px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.navbar-custum {
  background-color: #f8f5f1 !important;
  padding: 10px 20px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #55624e !important;
  letter-spacing: 0.3px;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: #6f6f6f !important;
  margin-left: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #c68d6b !important;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-color: #55624e;
  color: #55624e;
  padding: 8px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.form-control {
  border-radius: 10px;
  color: #a58a72;
}
h1 {
  color: #55624e;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 66px;
}
h2 {
  color: #c68d6b;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 64px;
}

h3 {
  color: #a58a72;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 18px;
  text-transform: uppercase;
}

h4 {
  color: #55624e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 18px;
}

p {
  color: #55624e;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}
.card-box {
  display: block;
  padding: 25px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
  border: 1px solid #dee2e6;
  height: 100%;
}

.card-box:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* color */
.card-ai {
  background-color: #e5e0d6;
}

.card-products {
  background-color: #f1e9de;
}

.card-massages {
  background-color: #f0dfd5;
}

.card-health {
  background-color: #d5c0b7;
}

.margin-top-index {
  margin-top: 80px;
}

.icon {
  width: 42px;
  height: 42px;
  margin-bottom: 20px;
  opacity: 0.3;
}
.card-box {
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    padding: 60px 20px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .card-box p {
    display: none;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}
